[2021-10-15 15:34] krevitt opened #2 "Airflow with dbt Core & Cloud"
Based on Sung's meetup talk, ([replay here](https://www.youtube.com/watch?vn7IIThR8hGk), [slides here](https://drive.google.com/file/d/1P9a5mafm3g0szpFLfIB2hMOnIjL5aPKL/view))

Draft here in docs here:
https://docs.google.com/document/d/12dcgxPr1GYQkPzVHDxiK8wF7GR2Iu150HP1YB2R1uRE/edit

Next step - blend in key points from:
Snaptravel's Coalesce talk last year: https://www.youtube.com/watch?vZ6dPI

[2021-10-15 15:34] jasnonaz opened #3 "Welcome to the dbt developer blog"
Initial Post to explain the philosophy of DevHub and why it is important to the community

[2021-10-15 15:35] krevitt opened #4 "Identity resolution playbook (collab w/ Census)"
Draft + notes here:
https://docs.google.com/document/d/1L524mzAD72zRs2lhye4ArWxjfDwOYpOLKSuC9PiDJaE/edit#

Playbooks to live within the technical blog (docs.getdbt.com/blog), if we can swing it by first couple weeks of October.

[2021-10-15 15:35] krevitt opened #5 "SQL magic: dateadd in dbt_utils"
Draft:
https://docs.google.com/document/d/1o49WH45NBh7QZeckoNTU2MUHGaeC0WMy87ucW0t76Ls/edit

Ready to publish in [this PR on docs](https://github.com/dbt-labs/docs.getdbt.com/pull/808)

[2021-10-15 15:36] jasnonaz opened #6 "A Guided Tour of Your dbt Project"
A granular look at the folders and areas within a dbt project to demystifying what can be a confusing process of first seeing macro / model / seed / target etc etc and not knowing what is what

[2021-10-15 15:36] jasnonaz opened #7 "Staging Models - Best Practices"
Providing tangible tips for how to set up staging tables. Staging tables are one of the quickest ways to get value out of dbt and time invested in staging probably has the highest multiple of time saved elsewhere of any aspect of dbt

[2021-10-15 15:36] krevitt opened #8 "SQL magic: union_relations in dbt_utils"
Draft:
https://docs.google.com/document/d/1hMy8zSucuWVGpamD-zFbvlxv0TgWnGmf9DY_InuSTrU/edit

Ready to publish in [this PR on docs](https://github.com/dbt-labs/docs.getdbt.com/pull/808)

[2021-10-15 15:37] jasnonaz opened #9 "dbt utils overview and most used functions"

[2021-10-15 15:39] krevitt opened #10 "How to structure your LookML code"
We have strong opinions on how we structure our dbt projects, but what about our Looker projects? This post will make a case for how to structure your LookML code (e.g. LookML code, view names/file structure, explore names/label structure, style guide)

[2021-10-15 15:39] krevitt opened #11 "Using reverse ETL for marketing"

[2021-10-15 15:40] krevitt opened #12 "How to go from exploration to data modeling"
Andrew wrote up a thoughtful resource doc on how to mature your Hex App to a Looker explore. I think there's a natural flow of deciding to build a new dbt model:
1. You're bringing in a new data source (staging/marts modeling)
2. After an analysis/exploration (marts modeling)

This blog post will cover the latter workflow.

[2021-10-15 15:41] krevitt opened #13 "You built a dashboard, now what? A case for Frameworks"
Most orgs have an ever-growing list of dashboards where they've drawn some insights/analyses on, but how is this documented? How do we know when to deprecate the dashboard? How do we consolidate all of this knowledge?
Andrew came up with the idea of having analytics frameworks. They're evergreen resources on areas of the business and document all dashboards/analyses/metric definitions. This will b

[2021-10-15 15:41] jasnonaz opened #14 "Guide to working with unstructured data - part 1"
Sanjana is putting together a series of posts on introducing new data practitioners to unstructured data. This will be a three part post.
Part 1 - What is unstructured data?
Part 2 - How to work with unstructured data in sql
Part 3 - How to work with unstructured data in dbt

[2021-10-15 15:42] jasnonaz opened #15 "Tutorial on renaming dbt projects"
https://twitter.com/tayloramurphy/status/1430959631610884097

[2021-10-15 15:42] krevitt opened #16 "A case for self-service: how to build a symbiotic relationship between data practitioners and stakeholders"
Brandon has done a fantastic job bridging the gap between data practitioners and stakeholders. This topic will be a validation of how GOOD someone (who is not a data team memebr) can get when they have the time to go very deep on their analytical area of expertise.

[2021-10-15 15:43] jasnonaz opened #17 "Singular tests vs. Generic tests"
How and when to use each (opinionated)

[2021-10-15 16:25] jasnonaz opened #18 "Update to CTE Performance Analysis"
Slack thread for context

[2021-10-15 16:55] amychen1776 opened #19 "So you want to build a package? Here's how"
- Will include packages best practices
- the workflow to creating one
- flavors of packages and approaches

Audience: someone who has spent some time in dbt and is ready to contribute their knowledge/expertise via packages

[2021-10-17 21:19] joellabes opened #20 "How to upgrade dbt"
claire  4:44 AM
hey i have a discourse article idea for you to write
this was a question from one of my students and it was a good q!
“how do we upgrade the dbt version?”
less from a “pip install upgrade” perspective, but more from a coordination perspective
like:
- add `require-dbt-version` to your project
- try to `dbt compile` → you’ll get an error
- upgrade your dbt version locally (maybe talk

[2021-10-18 21:13] jasnonaz opened #21 "Model Naming Conventions Part 1: On the Importance of Naming"
@patkearns10  put together an excellent [post](https://www.notion.so/dbtlabs/Model-Naming-Conventions-d4d7d6ef284545d9827836662f7ab01f) on naming conventions.

This will be a great candidate for an early piece on DevHub post launch.

[2021-10-19 19:13] krevitt opened #23 "dbt build tutorial"
Suggestions on what to include

[2021-10-21 11:44] amychen1776 opened #28 "Adding dbt Cloud to your existing dbt Core setup"
I don't know if this is a blog post or not but this is a question that I get quite a bit with consulting partners who don't understand what the lift looks like coming from dbt core to adding dbt Cloud.

[2021-10-21 21:11] krevitt opened #29 "Stages of dbt project maturity"
Based on @dave-connors-3's upcoming Coalesce talk and the accompanying repo [https://github.com/dbt-labs/dbt-project-maturity](https://github.com/dbt-labs/dbt-project-maturity)

Publish as a blog post to be released along with the talk, Dave C to work with Ganz / Krevitt to publish after talk deck/notes/replay are ready.

[2021-10-22 00:18] jasnonaz opened #30 "Lessons you learn as a head of data & CEO"
Tristan's initial post on DevHub:

There are very few people in the world that have run data teams in the modern data stack and been the CEO of a hypergrowth tech company.

What if write a post that gives lessons bidirectionally:
Give some lessons to data teams on how to work with / interact with CEOs
Give some lessons to CEOs on how to work with / interact with their data teams.

[2021-10-23 00:39] patkearns10 opened #31 "How to clean up your workspace"
In ProServ engagements, sometimes clients are apprehensive about dbt creating a bunch of dev schemas in their warehouse and muddying the waters.  Clients are always stoked when I give them a macro to clean those up.  I've seen a couple macros for going into snowflake and dropping unused schemas (developer no longer employed, models that are no longer active, etc) lying around which I collected her

[2021-10-25 18:53] coapacetic opened #32 "PR template overview"
@JDW818 filmed an excellent video on the thinking behind the pull request template used by dbt Labs.  This sounds like a great topic to bring out into the world in devhub!

**Linking all existing resources here:**
- [wistia video](https://getdbt.wistia.com/medias/r3u04isgxf)
- [script](https://docs.google.com/document/d/1NoAflCxcAXpdNLnV_n0O_oCctrhMXoGpcnSun6oAOSY/edit?usp=sharing)

[2021-10-25 18:55] coapacetic opened #33 "dbt preferred deployment commands"
@aescay filmed an excellent video on the rationale behind the dbt Labs' preferred deployment commands.  Let's turnkey this into some excellent devhub content:

resources:
- [wistia video](https://getdbt.wistia.com/medias/7em2tj62yo)
- [script](https://docs.google.com/document/d/1RMIQx9ZtSPym7EY0obyXZs_9sxwRQR8bqL4QmDNa5xY/edit?usp=sharing)

[2021-10-25 18:58] coapacetic opened #34 "Leveraging surrogate keys so that every model has a primary key"
@sanjanasen96 put together some great reasoning on using surrogate keys for all your models to create primary keys.  Would love to leverage this existing thinking in devhub!

resources:
- [wistia link](https://getdbt.wistia.com/medias/anuo7x4w3a)
- [script link](https://docs.google.com/document/d/1nxj5voDt2TPEHfsqZTdfuh0A4QoG54bnQSsC8JHBz9A/edit?usp=sharing)

[2021-10-25 18:59] coapacetic opened #35 "The importance of testing your primary keys"
@sanjanasen96 created another excellent resource for why it is important to test your primary keys.  Checkout the resources below:

resources:
- [wistia link](https://getdbt.wistia.com/medias/hnkw6j7m2t)
- [script](https://docs.google.com/document/d/15LzaMBV5rcAA5VwZpYQFf79K03k40q9jTEsU6hpLg1o/edit?usp=sharing)

[2021-10-26 14:26] coapacetic opened #39 "Setting up bigquery to get started with dbt"
This post would be a stable guide for getting the minimum effective set up on BigQuery to start using dbt. This would support any developer who is:
- setting up dbt with BigQuery
- completing the GS tutorial
- learning on courses.getdbt.com

[2021-10-28 14:14] coapacetic opened #40 "How to use dbt-labs docker image of dbt"
**What's your key point?**
Developers are interested in using the [dbt-labs docker image](https://hub.docker.com/r/fishtownanalytics/dbt) for dbt. It would be great to have a single post in devhub for how to get started with this.

**Prior art:**
I wasn't able to find much on using this docker image specifically.  I did some searching on Google and dbt slack, but couldn't find anything specific.

[2021-10-28 19:57] #15 closed, assigned to jasnonaz

[2021-10-28 20:11] joellabes opened #41 "[NEW] How to safely snapshot modelled data"
**What's your key point?**
- When should you? Ways to avoid it
- Considerations for backfill as it changes

**Prior art:**
The opposite to all of our snapshot writing ever

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*

**Any open questions / requests for help from the group?**
- Should you snapshot or make an incremental model with the

[2021-10-28 23:00] joellabes opened #42 "[NEW] How to install python and dbt in a venv on an intel mac without losing your mind"
**What's your key point?**
Python bad.

**Prior art:**
https://docs.getdbt.com/dbt-cli/installation#pip

**Link to notes / draft:**
[How to get your python going on Mac.txt](https://github.com/dbt-labs/devhub-writing/files/7437767/How.to.get.your.python.going.on.Mac.txt)

Maybe this should be part of the docs instead of DevHub? @jasnonaz please advise. @VersusFacit is going to write this up from t

[2021-10-29 14:07] amychen1776 opened #43 "How to think about environments in dbt"
**What's your key point?**

A common question that gets asked in the enterprise space and in the #dbt-cloud channel in slack is centered around how to set up their environments and dbt Cloud projects, especially when they have multiple BQ projects or Snowflake accounts/defined environments

Update: I think I have a different post in mind to expand this and meet an need that I keep seeing about jus

[2021-11-02 21:18] dave-connors-3 commented on #29
some resources i am developing

- [blog post draft](https://docs.google.com/document/d/1oAXcopSBz7HUjGoiAaowxSdAhGX8JrEe5PshKz6y6jE/edit) (very WIP)
- [slide deck draft](https://docs.google.com/presentation/d/106XFnuv1du4wtUKotNuVwAdQuzsMD55XO9hz-td5Vew/edit#slide=id.gfb4b150fbc_0_27) (WIp)
- [zoom recording from first runthrough](https://dbtlabs.zoom.us/rec/share/JXK9LL70agJW4Sj3g8lhg1DLJ3RFQVMi5

[2021-11-03 14:30] krevitt commented on #29
this is awesome @dave-connors-3 - curious if there are specific pieces you'd like help polishing in the post?  think pulling in some of the graphics from your deck would be great

[2021-11-03 14:48] dave-connors-3 commented on #29
@krevitt i would definitely appreciate some copy editing on the blog draft -- there's no reason for it to be 7 pages long -- it was written mostly stream of conciousness as i was running through the deck, so I guarantee there's repetition and just flat out bad sentences in there. And i agree the visuals would help! which do you think are most impactful so far?

[2021-11-03 17:43] rossturk opened #45 "Using dbt and BigQuery to study developer community growth"
**What's your key point?**

Using dbt, it is easy to create a simple metrics pipeline for studying the behavior of developer communities.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

I am not aware of any prior art.

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*

https://docs.google.com/document/d/1O9d

[2021-11-08 02:18] joellabes opened #46 "Using GitHub actions and the Cloud API to load artifacts to your DWH"
**What's your key point?**
Claire wrote about Snowflake's [PUT action here](https://discourse.getdbt.com/t/analyzing-fishtowns-dbt-project-performance-with-artifacts/2214). With the inbuilt performance analysis, _this specific_ use case is no longer necessary, but there's still times when people want to have access to their old artifacts.

[Mirna and Randy suggest](https://dbt-labs.slack.com/archi

[2021-11-10 13:25] HassanAlRabea opened #47 "[NEW] dbt: YAML & Doc Blocks in Seconds"
**What's your key point?**
Stay true to best practices: produce yaml files & mds for source tables without add-ons quickly.

**Link to notes / draft:**
[Google docs link](https://docs.google.com/document/d/195LrIEUvg8G0yqBCeUeV1dvaU4emSgbZ5LNj-C2zekU/edit?usp=sharing)

[2021-11-15 17:56] krevitt commented on #13
@aescay is this still something you're interested in writing?  launch of the devhub blog is coming up on 11/29, let us know if you'd like to:

a) write this and publish at launch
b) write this sometime later
c) not write this at all!

[2021-11-15 20:48] aescay commented on #13
Yes 💯  still up for writing this. I was supposed to throw an outline here last week but fell behind on this. Will work to get an outline out in the next couple of days. Does that still line up well with the release schedule?

[2021-11-15 20:58] krevitt commented on #13
Glorious, yes that'd work well

[2021-11-15 21:28] krevitt commented on #45
@rossturk gave it a full readthrough - the detail-oriented steps are excellent.  like I mentioned, you can drop images etc inline in the doc and we'll get them into the blog post.

one thing that your colleagues called out - some stories would really help set the stage here!  i wonder if you could open with a beefier storytelling section (how you data like this to drive decision-making there, exam

[2021-11-15 21:32] krevitt commented on #47
@HassanAlRabea thanks for opening this!

couple questions off the top:

1) curious why using one of those packages is an unattractive option?  have found people getting a lot of traction with those.

one approach to this subject might be to try out all 3 methods side-by-side (your approach vs the packages) for a bit of a bakeoff, so that people can understand which option is best for them.

2) I a

[2021-11-15 21:35] krevitt opened #48 "UX design: the key to becoming a full-stack data analyst"
**What's your key point?**
It makes me wonder - why within the field of data, is design thinking often so absent? In order to realize the full potential of the “full stack analyst”, we must apply the principles of design to be part of our workflows. We should shift our thinking from making traditional dashboards to building user-centric analytical applications.

**Prior art:**
*Any other posts tha

[2021-11-15 21:47] rossturk commented on #45
@krevitt I was worried about it getting too long, which is why the intro and final section are a bit brief. I'll stop worrying about that and go to town.

[2021-11-15 23:38] krevitt commented on #34
Draft ready here:
https://docs.google.com/document/d/1P8R44U2fsu5CIItKFgXaqksWokW4Bs1igLjeeP5NPeY/edit#

Think this makes a nice little SQL magic post!

[2021-11-16 15:43] krevitt commented on #2
Main thing to discuss on 11/18:
- personal stories of implementations (whether from your consulting days or dbt customers, company-anonymous of course) that went well / not so well
- including background on team structure / timeline, to weave into the broader team structure / timeline framing from your talk

[2021-11-16 21:02] joellabes commented on #20
@jasnonaz draft here for your enjoyment! https://docs.google.com/document/d/1pmAeE9UrmnrEY4i1tGqgfOegUuq03Kds1clyuD_4_UU/edit#

[2021-11-16 22:33] krevitt commented on #35
@sanjanasen96 Ganz and I wrote up a post based on your primary key testing training vid, want to give it a read sometime this week and let us know what you think?

happy to share the byline together, have you own the byline (or be completely off the byline!), totally up to you.

https://docs.google.com/document/d/1kfcBVBy7u3jToyZstx72bzl2DWQCKuMefZj3LNx5TME/edit#

[2021-11-16 22:56] sanjanasen96 commented on #35
@krevitt @jasnonaz left a v1 review!

[2021-11-17 20:08] jasnonaz commented on #21
Changing the name to reflect our discussion on [slack](https://dbt-labs.slack.com/archives/C02G5V9JBHV/p1637089379140100?thread_ts=1636597646.120100&cid=C02G5V9JBHV) that this is now going to be a multi parter.

@patkearns10  - I've pulled the first section into a [new doc](https://docs.google.com/document/d/1gMtdBZMc3aU5KnY7srrc1seXMGaMHoABMgnxSdm-4mQ/edit#). Want to go over the edits then we can

[2021-11-18 14:13] krevitt commented on #32
@JDW818 Coap recommended we turn your PR template overview video into a blog post for devhub - honestly I think your script works pretty much as-is as a blog post, but I'll ping you [in the draft](https://docs.google.com/document/d/1NHQ7fSmzJFz_TEGO6zR3YEeoY11mxMYJpPpCN71jtMM/edit#) with a couple things that'd be helpful to finish it up.

think this one should just be your byline vs me or Ganz, si

[2021-11-18 14:30] krevitt commented on #32
Think the only things we need to get this post ready are the screenshots of the DA screenshot + model validation from the [example PR](https://github.com/NaturalRetreats/fishtown-dbt/pull/11) that you walked through.

[2021-11-18 15:36] JDW818 commented on #32
@krevitt this is awesome! here are the screenshots. let me know what else you need from my end!

<img width="1395" alt="Screen Shot 2021-11-18 at 9 35 25 AM" src="https://user-images.githubusercontent.com/8891740/142446368-1503d2ef-501a-4064-abde-9cd9a2e2213e.png">
<img width="1461" alt="Screen Shot 2021-11-18 at 9 34 59 AM" src="https://user-images.githubusercontent.com/8891740/142446378-1d7a5611

[2021-11-18 19:05] krevitt commented on #11
Draft:
https://docs.google.com/document/d/16da097qjEn3hCNzcDnwzw1akc0S5dZqZUuTbNV303xQ/edit

[2021-11-18 19:14] rossturk commented on #45
@krevitt I have made a bunch of changes, expanding the intro and conclusion sections. Let me know what you think!

[2021-11-18 19:57] krevitt commented on #11
Going to structure as two separate posts:
- userflow + segmentation of messaging for relevance
- another for internal tooling + tracking manually-set goals vs actuals

[2021-11-19 13:55] krevitt commented on #32
Awesome thanks Jess, feel free to [give the final draft](https://docs.google.com/document/d/1NHQ7fSmzJFz_TEGO6zR3YEeoY11mxMYJpPpCN71jtMM/edit#) a review when you have a few mins (it's transposed almost exactly from the script, but just in case other topics to cover come to mind).

[2021-11-19 14:26] krevitt commented on #45
@rossturk left a bunch of comments, mostly confirming that changes you made are super helpful.  think this is very closely to ready to ship.

the two final things that I think could improve:
- the opening sentence (could use a hook that matches more with the spirit of what the article's become)
- the close once you have superset configured (what'd you learn / what are you curious to explore now th

[2021-11-19 15:52] krevitt opened #50 "dbt Product emails as blog posts"
**What's your key point?**

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*
https://www.notion.so/dbtlabs/HTML-for-Product-Update-Emails-58915eea59304212a223a5896ed831cd

[2021-11-19 16:56] krevitt commented on #33
@aescay Jason and I put together a draft post based your training video script - think this one should be your byline since we didn't do much writing here.

[draft is here](https://docs.google.com/document/d/1cO_YDck0tmkrbHjPQA3u8OpcGVpk05MncYcR-NuTezY/edit#) - want to take a run through it and leave any notes you'd like to include?  there are a couple comments there that could use your perspectiv

[2021-11-19 16:58] JDW818 commented on #32
Thumbs up from me!

[2021-11-19 18:45] krevitt commented on #34
@sanjanasen96 realized we never tagged you on this surrogate keys post (which ties in closely to the other PK testing post) - want to give this a read when you have a min?

[2021-11-22 17:20] jasnonaz commented on #21
@patkearns10 just did a final runthrough on the wording and added a few final tweaks - take a look and I think we should be good to go!

[2021-11-22 19:39] krevitt commented on #50
@CraiFish added the most recent 3 product update emails ([deploy preview here](https://deploy-preview-808--docs-getdbt-com.netlify.app/blog/tags/dbt-updates)).

want to take a look and lmk if these look good?  probably won't have time to add the rest of the back catalog for launch, but at least wanted to get a few in there.

[2021-11-22 19:54] CraiFish commented on #50
I assume it's not easy to begin the preview for each at "What's new"? Since my opener is always pretty topical? If that assumption is correct then it looks good!

[2021-11-22 19:54] #50 closed

[2021-11-22 20:08] krevitt commented on #50
yep you assumed correctly, we can basically just set a `truncate` point at some point after the beginning of the blog (but can't set it to be from the middle of the post).

[2021-11-22 20:37] krevitt commented on #33
FYI this is ready in [deploy preview here](https://deploy-preview-808--docs-getdbt-com.netlify.app/blog/dbt-production-commands), holler if [in the draft](https://docs.google.com/document/d/1cO_YDck0tmkrbHjPQA3u8OpcGVpk05MncYcR-NuTezY/edit#) if we want any final edits

[2021-11-22 22:50] patkearns10 commented on #21
@jasnonaz -- all set on your tweaks. I have one added paragraph from Friday assigned to you. Resolve it if we are good to go!

[2021-11-22 23:58] sethdr commented on #48
A couple articles I link to regarding "prior art"

https://locallyoptimistic.com/post/run-your-data-team-like-a-product-team/
https://locallyoptimistic.com/post/user-research-for-data-part-1/
https://roundup.getdbt.com/p/seth-rosen-topcoat

[2021-11-23 17:01] dave-connors-3 opened #51 "Measuring Business Hours"
**What's your key point?**

How to measure business hours for SLA metrics! this can be a really complex thing to capture the actual amount of time that tasks in a service desk style process take

**Prior art:**
Many conversations on Slack 😅

**Link to notes / draft:**
[Version 1](https://github.com/dbt-labs/internal-analytics/pull/253) (dbt Labs only link for now)
[Version 2 (never implemented)](h

[2021-11-23 17:35] sethdr commented on #48
This is ready for review. Happy to continue making changes: https://docs.google.com/document/d/11O_5il5ytrL-4cBZqB5ca3rv-7wNbjshTLYKusUCu94/edit

[2021-11-23 21:57] krevitt commented on #48
@sethdr i got out the red pen and [suggested a bunch of edits](https://docs.google.com/document/d/11O_5il5ytrL-4cBZqB5ca3rv-7wNbjshTLYKusUCu94/edit#) - mostly condensing sections and moving things around to enhance the flow, didn't really write many net-new words.

with the do/don't tables in here now, i think this serves the goal of a bookmark-able post for analysts to return to, without being to

[2021-11-23 22:15] coapacetic opened #52 "dbt Fundamentals v2 launch post"
**What's your key point?**

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*

**Any open questions / requests for help from the group?**

[2021-11-23 22:20] amychen1776 opened #53 "[NEW] what is the dbt workflow"
**What's your key point?**
Over my 3 years of introducing folks to dbt, what I've noticed that folks struggle with is understanding what the dbt workflow looks like. While they might understand piecemeal how to create a model or a test, they struggle to see the big picture version of when to test, when to commit to git in the dbt workflow (especially combined with the git workflow).

**Prior art:*

[2021-11-24 00:18] krevitt commented on #2
@sungchun12 spice 🌶️ has been applied!  see a [2nd draft here ](https://docs.google.com/document/d/12dcgxPr1GYQkPzVHDxiK8wF7GR2Iu150HP1YB2R1uRE/edit#bookmark=id.e1ov4gxlmdxo) at the 'rewrite with spice' bookmark.

this is a *very* different post than your original presentation, curious to hear your thoughts - are there pieces from the original draft that we'd want to pull in here?  anything that w

[2021-11-24 19:06] sungchun12 commented on #2
@krevitt I added suggestions and comments in the google doc. I love the 2nd draft compared to the first. The evolving story makes the tech mentioned feel like realistic choices rather than buzzwords and tools being thrown around.

The rewrite does a good job of centering the people/process problems rather than going into a feature battle across the tech.

[2021-11-24 21:23] krevitt commented on #2
Love it, thanks Sung - think this one's good to ship!

[2021-11-24 21:44] sanjanasen96 commented on #34
@krevitt @jasnonaz Read this, letting you know that I actually have no comments! Great article!

[2021-11-30 00:48] amychen1776 commented on #43
Here is the general outline that I have for this blog post:

- why should you care about environments
- what could an environment mean in dbt (the people, git repo, data platform, dbt project)
- what you need to set up your environment (in git, on the data platform, dbt project, dbt cloud project).

[2021-11-30 00:51] amychen1776 opened #54 "[NEW] dbt + data mesh"
**What's your key point?**

How do you setup your dbt project for optimal data meshing?

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

https://getdbt.slack.com/archives/C0VLZPLAE/p1637752635385700 --> someone asked on dbt slack

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*

**Any open questions / reques

[2021-12-02 00:47] lbenezra-FA opened #56 "[NEW] Joining Snapshots!"
**What's your key point?**
Properly joining snapshots is hard. Winnie and I figured out how to do it logically across many models.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
Not that I'm aware!

**Link to notes / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*
[Trials and Tribulations of Joining Snapshots
](https://docs.

[2021-12-02 20:48] krevitt commented on #53
@amychen1776 did i remember that you built a whimsical board for this workflow at some point?

[2021-12-02 21:10] #2 closed

[2021-12-02 21:10] #3 closed

[2021-12-02 21:10] #5 closed

[2021-12-02 21:10] #8 closed

[2021-12-02 21:10] #19 closed

[2021-12-02 21:10] #20 closed

[2021-12-02 21:10] #21 closed

[2021-12-02 21:10] #32 closed

[2021-12-02 21:10] #33 closed

[2021-12-02 21:10] #34 closed

[2021-12-02 21:10] #35 closed

[2021-12-02 21:10] #45 closed

[2021-12-02 21:10] #48 closed

[2021-12-03 16:00] amychen1776 commented on #53
@krevitt I did! but... now I can't seem to find it. Any specific reason?

[2021-12-03 16:15] krevitt commented on #53
Feel like a visual guide would be awesome here - we could have a designer
make one if you can't find it (or spice it up if you can find it)

On Fri, Dec 3, 2021 at 10:00 AM Amy Chen ***@***.***> wrote:

[2021-12-03 17:51] ernestoongaro opened #60 "Allowing Restricted IP Access to Redshift from dbt Cloud"
I wrote this up in discourse: https://discourse.getdbt.com/t/allowing-restricted-ip-access-to-redshift-from-dbt-cloud/3446

And there was a brief discussion about where it could live: https://dbt-labs.slack.com/archives/C02HE19D51R/p1638541826156000

Thank you!

[2021-12-06 13:27] amychen1776 commented on #53
Ah yes very much so; I would love a designer's help. I can't seem to find one but I can easily make a rough copy for a designer to make pretty

[2021-12-07 21:13] patkearns10 opened #61 "Writing & debugging Jinja Macros"
**What's your key point?**
Do we have any best practice recommendations around testing macros / jinja code?
Slack convo: https://dbt-labs.slack.com/archives/C0186FAQTMF/p1638903594083500

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
- coalesce talk: Lewis Davies & Erika Pullum (The Call is Coming from Inside the Warehouse: Surviving Schema Changes with Automation)

[2021-12-13 16:58] jtalmi opened #63 "Understanding and parsing the query history (Snowflake) and joining to dbt artifacts"
**What's your key point?**
How-to guide on how to parse query comments in the Snowflake query history (maybe other dwh as well?). Comparison between using query tags and query comments. Get model level performance metrics by joining the query history to the dbt artifacts in the warehouse

**Prior art:**
https://discourse.getdbt.com/t/how-to-add-observability-to-your-dbt-deployment/3451
https://coa

[2021-12-14 17:50] krevitt opened #64 "[POST WRITTEN] On maturing your dbt projects"
### Discussed in https://github.com/dbt-labs/dbt-technical-blog-writing/discussions/25

<div type='discussions-op-text'>

<sup>Originally posted by **krevitt** October 19, 2021</sup>
@jasnonaz tell us more!</div>

[2021-12-14 17:51] #64 closed

[2021-12-14 20:05] #52 closed

[2021-12-14 20:06] jasnonaz commented on #52
@alexiswo is interested in potentially doing a deeper dive into how / why we made v2 - lets open up a new issues for that since this was about the initial announcement post which went up on main blog

[2021-12-14 20:22] jasnonaz commented on #40
Todo: Check if anyone on the Core team is interested in taking this

[2021-12-15 00:44] jasnonaz commented on #51
Fantastic stuff here Dave. Thanks for putting this together - I'll have edits back to you by next Tuesday and we can plan for an early January Launch.

[2021-12-15 00:47] jasnonaz commented on #46
@joellabes you interested in taking this one or should we start shopping around?

[2021-12-15 01:01] jasnonaz commented on #41
@joellabes you gonna take this one or should we open up to the crowd?

[2021-12-15 01:45] jasnonaz commented on #31
@patkearns10 what do we think - this next up on deck or part 2 of model naming conventions?

[2021-12-15 01:46] #29 closed

[2021-12-15 01:48] jasnonaz commented on #28
@amychen1776 are you planning on taking this or should we open this up and add the 'looking for author' tag to see if we can start getting folks in on this.

[2021-12-15 17:27] JoshuaSmart-Olufemi commented on #9
Hi there. My name's Josh and I'd love to look into developing this topic into an article members of the dbt community can learn from.

[2021-12-15 21:18] patkearns10 commented on #31
Model naming conventions!  I will need to build a bunch of things for this one, which will be more difficult for me at the moment.

[2021-12-16 03:19] joellabes commented on #46
Happy for someone else to do this one!

[2021-12-16 03:20] joellabes commented on #41
Yeah I'd like to have a swing at this one!

#2022YearOfTheSnapshot

[2021-12-16 17:23] krevitt opened #65 "Optimizing dbt Models with Redshift"
### Discussed in https://github.com/dbt-labs/dbt-technical-blog-writing/discussions/59

<div type='discussions-op-text'>

<sup>Originally posted by **christineberger** December  3, 2021</sup>
Redshift's ability to tweak how you can sort and distribute data across nodes gives Redshift users a unique position to tune up their transformation flows with dbt. When following some best practices, we can

[2021-12-16 17:24] krevitt commented on #65
Notes: potentially to include in a Redshift + dbt whitepaper, can probably stand alone as its own dev blog post as well.

[2021-12-20 15:16] amychen1776 commented on #28
@jasnonaz I actually think this would be a great one to pair with someone external, perhaps a customer or consulting partner. Let me check to see if anyone is interested.

[2021-12-20 15:35] amychen1776 commented on #65
@krevitt We are already in talks with Redshift to write this whitepaper. The goal is to start writing it in January. It will definitely take time to do some more research because I need to push and see what the line is for Serverless/RA3 node recommendations too.

[2021-12-21 16:53] krevitt commented on #53
Frame as an over-the-shoulder guide to making a change to an existing project, the step-by-step workflow + thinking behind it (when to test your commit, when to add document).

Guide checklist for making an update to an existing project.

[2021-12-21 16:55] krevitt commented on #53
@jasnonaz this seems like a guide (sitting next to the GS tutorial, see comment above), maybe something that you / Winnie / someone else on your team should take on?

Amy Chen would be credited as co-author but don't think they need to be the one to take this to the finish line.

[2021-12-21 16:58] krevitt commented on #6
@jasnonaz Amy Chen has a video walkthrough of this already - starting at 5mins here: https://getdbt.wistia.com/medias/q0xm7mdt61

this could be a good starting point, but this also seems like a DX-owned post yeah (being so fundamental + something we'll want to keep updated)?

[2021-12-21 17:02] amychen1776 opened #66 "[NEW] Astronomer + dbt"
**What's your key point?**

This is a potential for the devhub but Astronomer is releasing their provider that will support dbt Core & cloud + Airflow. Until the post is written, it is a little up in the air on where this will be published.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

**Link to notes / outline / draft:**
*Google docs preferred, please set sharin

[2021-12-21 17:08] amychen1776 opened #67 "[NEW] dbt Glue Adapter and how to use it/when to use it"
**What's your key point?**

AWS is about to announce the availability of the dbt glue adapter. We want to have a corresponding post about how to use it and when. It's interesting because this isn't a standard data analyst persona. Also a real dive into dbt + a data lake data stack.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

**Link to notes / outline / draft:**

[2021-12-22 16:02] amychen1776 commented on #28
@jasnonaz

@anaisvaillant is going to write this! 🥂 I'll be riding aside to help if desired :)

[2021-12-22 17:12] jasnonaz commented on #17
Adding back in the `Looking for Author` tag here - Josh is going to be working on a utils function overview instead.

[2021-12-22 17:22] jasnonaz commented on #28
Fantastic!! Got this all noted down - looking forward to reading @anaisvaillant.

[2021-12-22 17:55] jasnonaz opened #68 "Model Naming Conventions Part 2"
**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
[Part 1](https://docs.getdbt.com/blog/on-the-importance-of-naming)
**Link to notes / outline / draft:**
[Draft](https://docs.google.com/document/d/1_Jlp1KJOHWxvodNKp4SUWDIf2zBrXUqPhAWhkMfYyb4/edit)

[2021-12-22 18:00] amychen1776 commented on #4
@krevitt Just checking here that you don't need any assistance from me on this because of the partnerships aspect here

[2021-12-22 18:57] anaisvaillant commented on #28
excited for this one! thanks for including me @amychen1776

[2021-12-22 19:52] jasnonaz opened #69 "[NEW] Test Slack Integration"
**What's your key point?**

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

**Link to notes / outline / draft:**
*Google docs preferred, please set sharing to `anyone with the link can view`.*

**Estimated first draft date:**
*Leave blank if you already shared a draft above.*

**Any open questions / requests for help from the group?**

[2021-12-22 19:54] jasnonaz commented on #69
Success!!

[2021-12-22 19:54] #69 closed

[2021-12-23 00:06] krevitt commented on #4
just received a draft on this (linked in the project) - welcome to read it if you like and we'll discuss at office hours tomorrow - it's a pretty standard dbt playbook (for customer 360 modeling)

[2021-12-23 01:56] patkearns10 commented on #39
First pass at this using screenshots:
https://docs.google.com/document/d/19MoprJZs5TVFwzemqUOTJ7P0Q1iJdbCNu1iJ5w6FFp4/edit#

[2021-12-23 02:08] jasnonaz commented on #56
Hi @lbenezra-FA  - thank you so much for putting this truly wonderful post together. You are an _extremely_ strong technical writer and the visuals + code snippets bring this post to the next level.

The post right now has 98% of the building blocks in place - we just need to add in the some structural bits to make it all make sense. Right now the piece kind of loses the reader at the transition f

[2021-12-23 16:20] dflynn20 commented on #4
Hey @krevitt @amychen1776 @jasnonaz , following up with the polished draft here:
https://docs.google.com/document/d/14787eQzv6jaluXLW6LLZhKRDsgT4S3vAhShatSnB7DI/

Allie gave it a couple of passes, but I am very open to feedback!

Repo is linked in the doc but is also here: https://github.com/dflynn20/jaffle_gaggle

[2021-12-23 17:15] lbenezra-FA commented on #56
thank you so much @jasnonaz ! This is incredibly helpful feedback. I'll be working on this today and will ping you when it's ready for another look. thank you for giving such thoughtful comments and suggestions!

[2021-12-23 19:34] lbenezra-FA commented on #56
@jasnonaz Ready for another review! I added all of your suggestions. You made a very good point about a note being a separate mini-blog post, which I think totally makes sense. I also think the de-duping logic might work well as a separate blog post. in order for the snapshot joins to work, it's _crucial_ for the data to not have duplicates, but that's not always a step everyone will need to take.

[2021-12-23 21:24] graciegoheen opened #70 "Change data capture on metrics in dbt"
**What's your key point?**
How to capture version history of a dbt model with both:
a) changing source data
b) changing business logic

Outline solution(s) and the pros/cons & use cases of them.

Current solution ideas:
- Downstream Incremental Models
- Upstream Snapshots

**Prior art:**
Let me know if you've read any prior writing on this topic!

**Link to notes / outline / draft:**
I have a very

[2021-12-23 21:29] graciegoheen opened #71 "Our Thoughts: Branching Strategies"
**What's your key point?**
What are dbt's opinions on setting up a git workflow / deciding a branching strategy (especially when you have a development environment that is unique from your testing environment)?

**Prior art:**
This will potentially be related to [Amy Chen's](https://github.com/dbt-labs/dbt-technical-blog-writing/issues/43) upcoming devhub post.

**Link to notes / outline / draft:*

[2021-12-23 21:29] krevitt commented on #4
Thanks @dflynn20!  A few of us on the team (@jasnonaz @patkearns10 @graciegoheen) spent some time reading + left a bunch of comments.

Think our overall feedback could be summarized as:
- Starting with "why" could be helpful, to frame (in both the intro + each section) why someone would want to do the thing. Why's someone need identity resolution for PLG, and what are the 3-4 key things that they'

[2021-12-23 23:03] gwenwindflower commented on #18
Outline and rough prose is finalized in Notion.

Next step is pivoting to benchmark all examples.

After that looping around to write first draft and will release internally for editing after the holiday.

[2021-12-28 04:02] alliemdbd commented on #4
Hey @krevitt! Thanks so much for the feedback - Donny and I met today and will work on a 2.0 version to send over later this week.

[2022-01-03 15:23] sungchun12 opened #72 "dbt + machine learning: what makes a great baton pass?"
**What's your key point?**
**Problem**: dbt has done a great job of building an elegant, common interface between data engineers and data analysts: uniting on SQL. As the data industry evolves, there's plenty of pain and room to grow in building that interface between data scientists and data analysts. There isn't a good answer for when things go wrong in the machine learning arena: should the dat

[2022-01-03 15:45] sungchun12 commented on #72
don't forget about hex!

[2022-01-03 19:04] graciegoheen commented on #70
Got started on a draft today!

Google Doc here: [Capturing Version History in dbt](https://docs.google.com/document/d/17ySaGWeRi8ggVwKtK0sXu2vEL_jgB2_iprrya7MCYfM/edit?usp=sharing)

[2022-01-03 19:24] krevitt commented on #72
Love this one Sung, I can work with you on it when you're ready - as usual I'm curious about stories from your own work that you can build the post around (as so much of the convo on this stuff has been hypothetical so far)

[2022-01-03 19:53] dave-connors-3 commented on #51
@jasnonaz I just did a small round of edits here myself, and sent it over to @ericalouie to give it her blessing since we collab'd a bit. Would love to connect this week on this! #devhub5ever

[2022-01-03 23:23] dflynn20 commented on #4
Hi @krevitt,

@alliemdbd and I went through it and addressed all of the points.

As for Pat's point about slow-changing dimensions, I don't believe this applies to CRM data as you would want to have the current data to reference for sales reach-outs. With this and taking into account that this is a sandbox / playground project with static data, I chose to not add it.

Excited to get your feedback

[2022-01-04 15:32] sungchun12 commented on #72
@krevitt Feel free to check progress in real-time: [here](https://docs.google.com/document/d/1XeUv2-FkRjrYt4BnlRwm5F6akO3X25q2wbqYdUq9mBQ/edit?usp=sharing)

[2022-01-04 17:18] jasnonaz commented on #51
Awesome. This piece is super strong. It does a fantastic job bringing the practical technical implementation alongside a measured assessment of when and how to use this metric. I had some light comments to address within, once those are addressed we should be ready to launch this.

[2022-01-04 21:27] amychen1776 commented on #71
@graciegoheen I'm so intrigued to read this! I do touch upon it a little in my rough draft ([here if you want to take a look](https://docs.google.com/document/d/1CDcO_8vKs9KfDtn1lJ5vFw2xqxGB7hq5Jmbd3C5PbQE/edit)) but don't get very in-depth outside of offering the options

[2022-01-04 22:21] natesooter opened #76 "Founding an Analytics Engineering Team"
**What's your key point?**

- What the creation of an analytics engineering team from scratch looks like, with dbt as a core component

**Prior art:**

- [This Twitter thread will be the starting point for the post.](https://twitter.com/NateSooter/status/1472968046910132225?s=20)

**Link to notes / outline / draft:**

- See above response. I'm open to discussing this a bit more about focusing the

[2022-01-05 14:49] krevitt commented on #72
I wonder if there's two separate posts here:

1. a step-by-step walkthrough of the optimal baton pass as you've seen it play out (or how you could see it working better based on observing poor baton passes)
2. walkthroughs of how an individual tool works within that baton pass (almost like a tool unboxing)

feel like tackling both of those in one post is a lot, what do you think?

[2022-01-05 15:17] sungchun12 commented on #72
@krevitt

Thanks for the suggestion! I'm planning to focus in on observing poor baton passes, pressing into the core behaviors and outcomes that underly the poor baton passes, address conceptually how the tools I've seen so far address the former, and name in an ideal scenario what I'd like to see in a next generation workflow.

I don't plan to do a full tool unboxing. I recommend we leave that as

[2022-01-06 17:18] krevitt commented on #39
@coapacetic @runleonarun curious where we think the "how we configure" piece (as in jerco's [snowflake post](https://blog.getdbt.com/how-we-configure-snowflake/), covering connections / databases / warehouses / roles / users) fits in here - separate post for each warehouse?

[2022-01-06 17:32] sungchun12 commented on #72
@izzye84 will officially be a co-writer of this blog! He'll bring the machine learning expertise to the table!

[2022-01-06 20:36] patkearns10 commented on #39
I am curious about that too -- configuring could be done in my post and I started to do a bare minimum, without going into any detail of why.

Also could spend more time talking about Amy Chen's diagram  talking about naming convention changes between warehouses
 ![Screen Shot 2022-01-07 at 7 34 00 AM](https://user-images.githubusercontent.com/30663534/148448046-0c025368-5da0-4142-b087-635f7436f28

[2022-01-06 20:44] krevitt commented on #61
Adding @dave-connors-3 and @coapacetic here

[2022-01-06 21:18] krevitt commented on #70
Modified the title here based on office hours discussion!  And a few notes from that convo [are here in notion](https://www.notion.so/dbtlabs/devhub-Office-Hours-2021-1-6-a8b21b1181ae4ae0b26158de96c43a01#7b5f9665bf30463db1a4e5eda43ace35).

[2022-01-06 23:14] krevitt commented on #4
Looks great on a first pass!  Will drop some more detailed comments in tomorrow, but generally this is in great shape

[2022-01-07 01:53] alliemdbd commented on #4
@krevitt awesome! Glad to hear it's looking good and we'll keep an eye out for edits.

also, wanted to get you and the community/partner folks' opinion on possibly rolling this into a fun little campaign for early Feb. It would mean holding the publication until early Feb, but would be a fun awareness/ABM campaign to play on the Jaffle lore. Would include:
- The playbook itself (living on dbt’s de

[2022-01-07 14:06] amychen1776 commented on #39
@patkearns10 as a heads up, I finally updated that diagram because of a typo (and Databricks making it far too confusing).
![image](https://user-images.githubusercontent.com/46451573/148555217-44e29449-f7ba-4094-b345-ab29a0b34f4d.png)

[2022-01-07 21:34] patkearns10 commented on #39
Yes, that's why I added "Not Final" over it at the bottom of the image :)

[2022-01-07 21:36] amychen1776 commented on #39
Lol I didn't see that in my little preview. Thanks! I'm adding more to it as I get the information :)

[2022-01-07 22:54] krevitt commented on #4
Hey @alliemdbd just checked in w/ the team - we're of course happy to promote the post, but doesn't look like the team has bandwidth for a full campaign in feb.

[2022-01-07 23:39] krevitt commented on #4
Hey @dflynn20 just gave the post a full readthrough - great stuff!  Left some comments in spots that could use more clarification, but in general this is making a lot of progress and think we're close to good to go here.

[2022-01-08 01:13] alliemdbd commented on #4
Hey @krevitt  thanks for checking! We'd be doing all the heavy lifting for it. The only thing we'd ask for some help with is sharing out to your networks when we promote (and, of course, publishing the blog post above). Does that sound more doable?

[2022-01-10 22:59] patkearns10 opened #77 "Auditing Techniques for Refactoring"
**What's your key point?**
How to audit as you edit/refactor using audit-helper-package in-line, to avoid having an intense round of editing at the end of a long sprint
or
How to use audit-helper-package as you refactor to avoid having an intense round of testing at the end of a long sprint

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
- works with [refactoring qu

[2022-01-10 23:50] dflynn20 commented on #4
Hey @krevitt , we just went through and polished up the piece. Thanks for the feedback!

One other note: this code is living under my user, I wanted to see if it makes the most sense to keep it there? I'm happy to move it, just let me know!

[2022-01-11 15:37] jasnonaz commented on #56
Hi @lbenezra-FA this is looking great! I think we have two options on how to proceed here.

1. Publish this piece as is (with just a few open comments on sentence / wording level changes).
2. Split steps 1 and 2 out into a separate piece on removing dupes, publish that first, then publish this piece. I'd say a slight preference for that one as a post on removing dupes is useful across a huge numbe

[2022-01-11 18:13] lbenezra-FA commented on #56
@jasnonaz I like option 2! Happy to start a second blog post on dupes this week. It should be relatively short. I'll open another issue.

[2022-01-11 20:00] jasnonaz commented on #56
Awesome!! Looking forward to this.

[2022-01-12 02:01] jasnonaz commented on #68
@patkearns10 this is great - there is such a density of information here.

I've been thinking about the structure of your naming series and how it flow, I want to run something by you.

The first part of this on 5S is excellent, but I'm not sure it fits into the overall story you're trying to tell with the naming conventions post. I think we pop that out and have it be a standalone (or a _bonus_ a

[2022-01-12 02:40] lbenezra-FA opened #78 "Deduping your dupes!"
**What's your key point?**
This is a preface to the [Joining Snapshots](https://docs.google.com/document/d/1xH82PG1d28Fv5jwCY9WENW-3ERxjNUMSK5LLwIvfYz0/edit#heading=h.4fgstn7n2kr5) blog post, which requires data to be dupe-free in order for the join logic to work.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
not that I know of!

**Link to notes / outline / draft:

[2022-01-12 02:42] lbenezra-FA commented on #56
Opened a [new issue](https://github.com/dbt-labs/dbt-technical-blog-writing/issues/78) with a first draft!

[2022-01-12 20:05] patkearns10 commented on #68
Yes - I think that makes sense to me - I was feeling iffy about the current order as well.  Okay, I'll do a once over of the new Part 2 and make sure it's all there.

[2022-01-14 16:57] natesooter commented on #76
[Here's the link](https://docs.google.com/document/d/1xtarVNy5kRjNJmd-zKkCWyqTA9VNRd_FjSOC21KQDVo/edit?usp=sharing) to the Google Doc of the blog post. Goal is to complete by 1/23.

[2022-01-18 15:06] amychen1776 commented on #42
@joellabes Could we include M1 macs because....that's been a hell fest recently.

[2022-01-18 15:29] stumelius opened #79 "[NEW] Making dbt Cloud API calls using dbt-cloud-cli"
**What's your key point?**
Discuss the topics that we agreed together with Amy and Jason. Also see the initial idea https://github.com/dbt-labs/dbt-technical-blog-writing/discussions/62.

I'll be adding more info here once I have an outline drafted.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*

**Link to notes / outline / draft:**
*Google docs preferred, please s

[2022-01-18 19:45] b-per opened #80 "Long term fix for an "under-documented" and "under-tested" dbt project"
Some projects don't start with good practices on which models/columns should be documented and tested. After a while it can become a huge effort to fix it and the bad state may re-appear

In my mind the fix needs to happen in 2 parts:
1. find the current models that should be documented/with tests.
    - Decide what needs to be documented/tested (opinionated)
    - Document/test the models that ar

[2022-01-18 21:12] alliemdbd commented on #4
Hey @krevitt just bumping this. Thanks :)

[2022-01-18 21:13] joellabes commented on #42
💯 yes yes yes

[2022-01-19 17:31] krevitt commented on #4
Thanks for the bump Allie!  On those questions:

Hey @dflynn20, my hunch is that it's ok to leave on your personal profile (to convey that you're the author) - don't see any downside to leaving it there.

In the limited non-partnership-team scope of what I work on, I can say we'll definitely promote the post, and that could take the form of RTing something that you post that also includes other ja

[2022-01-20 15:32] jasnonaz opened #81 "Are metrics real?"
**What's your key point?**
It is important for metrics professionals to have an understanding of how closely a given datapoint reflects base reality (base reality being a concept that is, of course, incredibly socially constructed), that this ties into being able to create business metrics that are useful for organizations and that it is of moral significance that we do a good job explaining these

[2022-01-20 17:18] jasnonaz commented on #78
Hi Lauren - this piece is great!! Couple notes:
- Can we introduce both:
  - What exactly we mean by duplicates? How might someone identify them sentantically / conceptually before we start thinking about how to find them in code? Are there different types of duplicates (ie can they just be idenfied by looking at the Primary Key? When does this work vs. not work?
  - What are the the reason that p

[2022-01-20 17:27] ernestoongaro opened #82 "[NEW] Re-running Failed Jobs in dbt Cloud"
**What's your key point?**
 * New functionality added by @sungchun12 and discussed [here](https://dbt-labs.slack.com/archives/C0186FAQTMF/p1642692703085900)

**Prior art:**
New to the world as far as I know

**Link to notes / outline / draft:**
(https://www.notion.so/dbtlabs/Smart-Re-Runs-for-Failed-dbt-Jobs-14abe7ce89664be5a90efe061c850315)

**Estimated first draft date:**
21 Jan 2022

**Any open

[2022-01-21 22:21] natesooter commented on #76
@jasnonaz Have 2/3rds of this written, but forgot that this weekend is my first one at home with two kids without my wife, so writing a blog is definitely not going to happen!  Should have it done within the next week though.

[2022-01-24 04:05] natesooter commented on #76
@jasnonaz I've completed my initial draft & gone through it for grammar & general readability.

It's ready now for your review.  Once we go through any recommended revisions, the next step will be to share with the Smartsheet PR team for final review before it can be published.  Once you're good with it and Smartsheet PR is good with it, we can greenlight to publish.

[2022-01-24 14:55] jasnonaz commented on #76
Fantastic - thank you Nate!! We'll take a look and get thoughts back to you by Wednesday EOD. So excited to get this out into the world.

[2022-01-24 16:20] stumelius commented on #79
I added a link to the draft that I just wrote. It's still missing a short intro at the beginning and the "Creating a data catalog from dbt Cloud artifacts" use case. The section titles are still WIP and I feel that the "How I got here?" section is a bit too long. Please let me know what you think :)

[2022-01-24 16:57] amychen1776 commented on #79
@stumelius Could you provide comment rights to anyone with a link to the doc? It helps us review :)

[2022-01-24 17:10] stumelius commented on #79
@amychen1776 The permissions are now updated so that everyone can comment. Let me know if you still have problems adding comments

[2022-01-25 18:08] jasnonaz commented on #76
Nate - this post is incredible. Thank you so much for sharing the journey that your team went on to make analytics engineering a reality at Smartsheet. It's just so valuable for folks to be able to hear these stories (and hopefully fun / cathartic for you to put this together).

I added a couple extremely minor edits but I think that your instincts in how to tell this story were spot on. Would lov

[2022-01-25 18:31] natesooter commented on #76
Thank you Jason!  I appreciate the opportunity to write it up & can't wait to see what the data community thinks.  I'll get this over to my PR team & will update as soon as it's given the stamp of approval for publishing.

[2022-01-25 20:05] krevitt commented on #72
@sungchun12 what do you think as a publication date for this one?  and holler whenever you're ready for an editing pass

[2022-01-25 20:27] alliemdbd commented on #4
Hey @krevitt sounds good! We're looking at a Feb. 8 date. Would it be possible to publish the playbook that week (on the 7th) and we'll drive some traffic there from our side?

[2022-01-25 21:01] krevitt commented on #4
Yes let's do that, will set it up for the 7th

[2022-01-25 21:21] JoshuaSmart-Olufemi commented on #9
Hi @jasnonaz . Here's the Google Doc link to the article for review. https://docs.google.com/document/d/1AaZpvhVE7lbRaU7sDs64gJPgJjCILqgo4kyhVJulBp0/edit?usp=sharing

[2022-01-25 21:29] sungchun12 commented on #72
@krevitt For publication, let's make it happen on Monday, 2/7/2022.

Emilie made a bunch of comments I'll need to ruminate on. I'll send a meeting invite for an editing pass!

[2022-01-26 21:59] gwenwindflower opened #83 "Hiring an analytics engineer"
**What's your key point?**

We have guidance for clients on hiring an AE, let's publish it

**Prior art:**
https://www.notion.so/dbtlabs/Hiring-Guidance-Analytics-Engineer-Technical-Data-Analyst-Senior-Analyst-70ce58791e3248d3a35db668463eed24

[2022-01-26 22:05] krevitt commented on #83
FYI we also have [this old post](https://www.getdbt.com/data-teams/hiring-analytics-engineer/) (ranks #1 for "hiring an analytics engineer") from Janessa + Erin - so we may want to focus on some specific technical aspect (like interview questions, test project, etc).

[2022-01-28 01:35] joellabes opened #84 "[NEW] Embedded {analysts|designers|etc} vs specialists in a centralised team"
**What's your key point?**
[Tristan](https://docs.google.com/document/d/17NHxkZw4MAWje5JuYbERhLPi5pK0IUxzyyjjJbXluQI/edit#) and [Janessa](https://www.notion.so/dbtlabs/A-few-rough-notes-on-embedded-roles-ea81bb0f3f2a4c88b320f8a0a95b45b2) have both written great stuff on this - can we jazz it up, combine the concepts, and put it out for the world to see?

**Prior art:**
☝️

[2022-01-28 13:49] amychen1776 commented on #79
@stumelius I just had first pass at the doc. Let me know what you think/if you have any comments but great start! I'm excited to get this posted

[2022-01-31 14:25] infused-kim opened #85 "How to set up your terminal for dbt"
**What's your key point?**
An introduction to [fzf-dbt](https://github.com/Infused-Insight/fzf-dbt), a tool that allows you to dynamically select dbt models.

Check out the github page for a demo video:
https://github.com/Infused-Insight/fzf-dbt

**Prior art:**
No

**Link to notes / outline / draft:**
https://docs.google.com/document/d/1m-tmeqFMYjEyJ1yWmwINT_fuxU_KW-FUx1fDTror_Ok/edit#

**Estimate

[2022-01-31 17:32] natesooter commented on #76
@jasnonaz As an update, the PR team needs one more person look the blog over. I'll update you as soon as it's greenlighted for publishing. Almost there!

[2022-01-31 20:22] amychen1776 commented on #67
Closing this to open a new issue when the project is further along

[2022-01-31 20:22] #67 closed

[2022-02-01 14:58] jasnonaz commented on #85
Hi there - first of all I want to thank you for building this. It's is a really cool tool and I'm excited to dive in / for more people to get a chance to check this out.

I think that this post is not a great fit for the a Dev Blog post in it's current form, but if we can make a more general post on node selection best practices or other hands on, tutorial type content we'd be happy to revisit thi

[2022-02-01 15:07] jasnonaz commented on #80
Fantastic post idea @b-per - looking forward to reading!

[2022-02-01 15:10] jasnonaz commented on #84
Great idea! You interested in writing this or should we throw the "Looking for author" tag on?

[2022-02-01 15:19] infused-kim commented on #85
No problem, I totally understand.

Would it help if it was more practical. Perhaps a post that is more focused on instructions on how to set up your terminal to make working with dbt better?

[2022-02-01 15:25] jasnonaz commented on #39
This is awesome - glad we got this going, thank you everyone. I'm going to close this out since it won't be living on the dev blog + the discussion is now happening over in the docs pr.

[2022-02-01 15:25] #39 closed

[2022-02-01 15:36] jasnonaz commented on #85
Oooh yes a post on how to set up your terminal to make working with dbt better would _definitely_ be a good fit for the blog!

[2022-02-01 15:52] infused-kim commented on #85
Fantastic, what do you think of a broad outline like this:

- Why and how to install dbt in a pythen virtual environment
- How to add shell completions to dbt
- How to add interactive search to dbt

This would probably work well with another serious of articles that describe how to set up a user's favorite code editor for dbt.

I imagine there could be an article for VSCode and another one for Ato

[2022-02-01 16:04] jasnonaz commented on #85
That sounds like a great idea - I wonder if there are any other things we would want to add there. Feel free to ask how people do this in #analytics-craft on the slack.

[2022-02-01 16:28] infused-kim commented on #85
Great. I have asked for more ideas here:
https://getdbt.slack.com/archives/C02FH9AD85T/p1643732821330979

But in the meantime I’ll get started on the sections we agreed on so far.

We can always expand it with more tips from the community once we have an initial draft.

[2022-02-01 17:23] infused-kim commented on #85
Actually, while thinking about it there are a few more things that I have done to improve my terminal experience that I think would be good to include:

1. Why and how to install dbt in a python virtual environment
2. How to add shell completions to dbt
3. How to add interactive search to dbt
4. **How to replace common unix tools with modern alternatives**
5. **How to customize your shell prompt f

[2022-02-02 00:00] joellabes commented on #84
Happy for it to get a looking for author tag; maybe I'll wind up coming free but let's not have me as a blocker in the meantime!

[2022-02-02 11:19] infused-kim commented on #85
Ok, here is a first draft:
https://docs.google.com/document/d/12BjJX7fxKBRmZc3e4Rsg5cDYU7HIoXElEX4ej-uyjVQ/edit?usp=sharing

## Outline Changes
I have remembered a few more terminal tips that I have been using and that I think will be very valuable for the dbt community.

And I took out the python virtual env part, because the article is already at 2,000 words and 15 pages.

But if you think pytho

[2022-02-02 15:50] ernestoongaro commented on #82
@jasnonaz we have to put this on hold due to some gaping missing functionality :( https://www.notion.so/dbtlabs/dbt-can-t-rerun-models-from-point-of-failure-but-should-9a84c4a6d43743cdbb3ec40d05abcff8 cc @sungchun12

[2022-02-02 17:07] johnblust commented on #72
Link to figma visual outline: https://www.figma.com/file/n47XZkyPt3mfHVyc2nrfXV/dbt-%2B-ML-mind-map?node-id=1%3A145

[2022-02-03 15:25] jasnonaz commented on #85
Reopening this under the new scope about how to use dbt in the terminal

[2022-02-03 19:55] jasnonaz commented on #51
We're live!! Thanks Dave https://docs.getdbt.com/blog/measuring-business-hours-sql-time-on-task

[2022-02-03 19:55] #51 closed

[2022-02-03 21:52] lbenezra-FA commented on #7
is this cutie still looking for an author?

[2022-02-03 22:07] gwenwindflower commented on #7
yis!

[2022-02-03 22:08] gwenwindflower commented on #7
![FKs1g3vXMAAr7I9](https://user-images.githubusercontent.com/91998347/152437269-ac6750d2-77d5-4c96-9475-acba164a0306.jpeg)
this could be u if u write this article

[2022-02-03 22:08] lbenezra-FA commented on #7
i'd LOVE to be this post's opossum mom!

[2022-02-03 22:10] gwenwindflower commented on #7
sold! i will be possum #2, your trusty editor

[2022-02-03 22:14] lbenezra-FA commented on #7
wooooooo!!! ty ty! team trash forevz!

[2022-02-07 06:00] stumelius commented on #79
@amychen1776 Thanks for your comments and ideas! :) I made the changes you proposed and added some content to the example.

Regarding the example: Since I'm talking so much about `click` and `pydantic` in the blog post I could demonstrate how to use them to write a simple catalog exploration CLI tool. What do you think?

[2022-02-07 13:55] amychen1776 commented on #79
Thanks @stumelius! I think that's a great idea (I love the expansion of the topic to further than the tool you created).

Let me know when you're ready for another review. Once you have written the remaining sections, we can bring it up in our developer blog meeting and get more eyes on it :)

[2022-02-08 03:08] krevitt commented on #4
@alliemdbd @dflynn20 PR is [up here](https://github.com/dbt-labs/docs.getdbt.com/pull/1091), you can [view a preview of the post here](https://deploy-preview-1091--docs-getdbt-com.netlify.app/blog/customer-360-view-identity-resolution)!

Left a [few notes on the draft](https://docs.google.com/document/d/14787eQzv6jaluXLW6LLZhKRDsgT4S3vAhShatSnB7DI/edit#) of sections I trimmed during publishing - t

[2022-02-08 15:59] gwenwindflower commented on #85
hi @infused-kim - there's so much great stuff in here!

your article highlighted a new concern for us though which is wanting to make sure we've published a standardized guide on a topic _before_ publishing a more opinionated, advanced, or specific piece.

we imaging we'd want to publish this as a 'Here's how I setup my terminal for advanced tooling and fuzzy finding of models' vs 'Here's how you

[2022-02-08 16:03] jasnonaz opened #86 "What is a DAG and Why is it Important?"
**What's your key point?**
This is an incredibly important concept that we frequently want to link to and don't have a dedicated post for already
**Prior art:**[
Christine's excellent post on modular data modeling](https://www.getdbt.com/analytics-engineering/modular-data-modeling-technique/) - hoping for something with a lot of the same insights as this but focused on a short explanation of what

[2022-02-08 18:42] infused-kim commented on #85
Hi @gwenwindflower,

thank you for the update. I completely understand the concern and look forward to the next steps.

In the meantime, I think it's worth considering that `How to set up your terminal for dbt` was the original idea for the article.

But if you take a look at the headline I used in the [google doc](https://docs.google.com/document/d/12BjJX7fxKBRmZc3e4Rsg5cDYU7HIoXElEX4ej-uyjVQ/edi

[2022-02-09 18:27] johnblust commented on #72
@sungchun12 Hey Sung! I gave your content a quick editing pass and made some suggestions for small structural changes. In many ways, the content is great! I would love to see the main ideas come forward & stand out a little more so readers can easily track their progress through the content. Here's a quick summary of my suggested edits to that end:

- Replace the questions in the intro with the to

[2022-02-10 15:41] b-per commented on #80
I updated the issue with a link to the draft for the article.

[2022-02-11 16:29] sungchun12 commented on #72
@johnblust I resolved all the comments and it's ready for another review!

[2022-02-11 17:07] johnblust commented on #72
Awesome, I'll review & let you know next steps early next week!! Great job on the fast turnaround @sungchun12

[2022-02-13 13:46] stumelius commented on #79
@amychen1776 Thanks again for your comments! I've addressed them and amended the example with code gists and a high-level walkthrough of what's happening in the code. I've included the demo app in the latest `dbt-cloud-cli` release and added instructions for running the app.

I still haven't touched the titles nor the introduction. I'll get to those next week. Apologies for the slow progress!

[2022-02-14 14:04] amychen1776 commented on #79
No worries! Let me know when the blog post is fully written and we can get it reviewed and closer to publishing step.

[2022-02-14 16:43] burkaygur opened #88 "Building a feature store with dbt"
**What's your key point?**
With fal feature store (which is built as a [dbt package](https://github.com/fal-ai/dbt_feature_store)), you can have a very solid set up for tabular ML model workflows right within your dbt project.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
#72 talks about the baton pass between analytics engineering and ML, mentions fal.
https://gi

[2022-02-15 17:57] sungchun12 commented on #72
Izzy and I feel good about this! Keep us updated John!

[2022-02-16 16:55] johnblust commented on #72
@sungchun12 Okay, then we're ready to publish!! Planning to publish this week. I'll let you know when it is live :)

[2022-02-18 02:40] #17 closed, assigned to jasnonaz

[2022-02-18 02:48] gwenwindflower commented on #53
closing in favor of discussion on docs https://github.com/dbt-labs/docs.getdbt.com/discussions/1133

[2022-02-18 02:49] gwenwindflower commented on #66
closing this for now, can be reopened as a discussion or issue in the docs repo if there are further developments

[2022-02-18 02:49] #66 closed

[2022-02-18 02:54] gwenwindflower commented on #83
closing in favor of docs discussion https://github.com/dbt-labs/docs.getdbt.com/discussions/1134

[2022-02-18 02:54] #83 closed

[2022-02-18 02:55] gwenwindflower commented on #54
closing this for now, if we get significant data mesh demand we can loop somebody in to a discussion on the docs repo

[2022-02-18 03:03] #42 closed

[2022-02-18 03:04] #4 closed, assigned to krevitt

[2022-02-18 03:06] gwenwindflower commented on #41
closing this one, we're touching on similar topics with some of the content currently in editorial, and i've got a related piece i spiked out earlier this week which i'll add as a discussion in the docs repo -- this will definitely resurface if needed!

[2022-02-18 03:06] #41 closed

[2022-02-18 03:10] #31 closed

[2022-02-18 03:13] gwenwindflower commented on #81
i will let you move this tantalizing topic to the docs discussions yourself, this one will be ✨👀

[2022-02-18 03:14] gwenwindflower commented on #60
we will loop back to this when we mass port a selection of discourse posts into the blog. closing for now, thank you!

[2022-02-18 03:14] #60 closed

[2022-02-18 03:27] gwenwindflower commented on #80
closing this and moving to the docs repo where we are centralizing this work -- we can pick up the convo there -- looks great from a quick scan @b-per excited! https://github.com/dbt-labs/docs.getdbt.com/discussions/1138

[2022-02-18 03:27] #80 closed

[2022-02-18 03:33] krevitt commented on #54
FYI someone from Abhi’s team is planning to cover their meshy implementation on this

—
David Krevitt
Marketing, dbt Labs

[2022-02-18 03:35] gwenwindflower commented on #54
sweeeet - my hope was if anybody would tackle it, it would be them 🙏🏻

[2022-02-18 03:48] gwenwindflower commented on #9
per above closing in favor of this discussion https://github.com/dbt-labs/docs.getdbt.com/discussions/1139

[2022-02-18 03:48] #9 closed, assigned to JoshuaSmart-Olufemi, gwenwindflower

[2022-02-18 03:54] #23 closed, assigned to jasnonaz, randypitcherii

[2022-02-18 03:59] gwenwindflower opened #91 "Joining Snapshots!"
### Discussed in https://github.com/dbt-labs/dbt-technical-blog-writing/discussions/90

<div type='discussions-op-text'>

<sup>Originally posted by **lbenezra-FA** December  1, 2021</sup>
**What's your key point?**
Properly joining snapshots is hard. Winnie and I figured out how to do it logically across many models.

**Prior art:**
*Any other posts that exist on this topic (here or elsewhere).*
N

[2022-02-18 04:00] gwenwindflower commented on #91
was just testing out the discussion to issue flow -- closing this

[2022-02-18 04:00] #91 closed

[2022-02-18 04:08] gwenwindflower commented on #78
closed to transfer here https://github.com/dbt-labs/docs.getdbt.com/discussions/1141

[2022-02-18 04:08] #78 closed

[2022-02-18 04:25] gwenwindflower commented on #43
transferred here https://github.com/dbt-labs/docs.getdbt.com/discussions/1146

[2022-02-18 04:25] #43 closed

[2022-02-18 04:31] gwenwindflower commented on #10
closed and transferred here https://github.com/dbt-labs/docs.getdbt.com/discussions/1147

[2022-02-18 04:31] #10 closed

[2022-02-18 04:38] gwenwindflower commented on #7
closed and moved here https://github.com/dbt-labs/docs.getdbt.com/discussions/1148

[2022-02-18 04:38] #7 closed

[2022-02-18 04:39] gwenwindflower commented on #6
i'm going to close this one for now, but feel free to open a fresh discussion in the docs repo if you feel strongly about it!

[2022-02-18 04:39] #6 closed

[2022-02-18 04:42] gwenwindflower commented on #11
transferred to this discussion https://github.com/dbt-labs/docs.getdbt.com/discussions/1149

[2022-02-18 04:42] #11 closed

[2022-02-18 04:42] gwenwindflower commented on #70
transferred here https://github.com/dbt-labs/docs.getdbt.com/discussions/1144

[2022-02-18 04:42] #70 closed

[2022-02-18 04:44] gwenwindflower commented on #40
closing as we're going to improve these docs https://github.com/dbt-labs/docs.getdbt.com/issues/1028

[2022-02-18 04:44] #40 closed

[2022-02-18 04:46] gwenwindflower commented on #13
feels like we have low capacity/appetite to tackle this right now, going to close this and we'll see if it bubbles back up at some point

[2022-02-18 04:46] #13 closed

[2022-02-18 04:47] gwenwindflower commented on #14
feels like this one never took off so going to close for now, i have no doubt we can get some _excellent_ teaching from the community on this in the near future

[2022-02-18 04:47] #14 closed

[2022-02-18 04:48] gwenwindflower commented on #16
Per the other Data team pieces that haven't had movement, it doesn't seem like they have capacity to spare right now so we can shut these down and see if they come back around in the future

[2022-02-18 04:48] #16 closed

[2022-02-18 04:49] gwenwindflower commented on #18
creating a fresh issue in the docs repo and will work from there

[2022-02-18 04:49] #18 closed, assigned to jasnonaz, gwenwindflower

[2022-02-18 04:57] gwenwindflower commented on #30
@jasnonaz is this still something we want to do or are we good to close for now?

[2022-02-18 04:58] #12 closed, assigned to aescay

[2022-02-18 04:58] gwenwindflower commented on #47
seems like this one went cold, closing

[2022-02-18 04:58] #47 closed

[2022-02-18 05:01] gwenwindflower commented on #82
i'm closing this for now, read through the state of the functionality and we can create a new discussion/issue to cover this (very cool) newness when it's fully ready!

[2022-02-18 21:27] natesooter commented on #76
@jasnonaz Happy Friday and apologies for the delay.  The good news: I have conditional green light after making a few edits.  I should have those done by end of day tomorrow.  I will confirm for you when the edits are done, you can take another look through to confirm things look good on your end & we can then move forward with publishing.

So, one more day or so and I'll reply back with the green

[2022-02-19 22:15] natesooter commented on #76
@jasnonaz This is complete - I've made the minor edits per the request of my internal PR team.

So, this is the official **green light** to post!  I'm immensely excited to see this go live.

[2022-02-20 08:33] stumelius commented on #79
@amychen1776 I just added the intro so all the content is now there. You can go ahead and start the review and then we'll polish it so that it's ready for publishing :)

[2022-02-21 17:35] gwenwindflower commented on #88
hey @burkaygur, we love this idea! dbt for modeling with fal, Continual.ai, or more hand rolled processes is something we want to lean into in a couple months. we have some foundational work we'd like to knock out first, so we probably wouldn't publish this for awhile though, just a heads up.

more urgently -- we're shutting down these repo and moving this into Discussions + Issues with the dbt Do

[2022-02-21 17:38] gwenwindflower commented on #88
here's the discussion https://github.com/dbt-labs/docs.getdbt.com/discussions/1158

[2022-02-21 17:38] #88 closed

[2022-02-21 17:41] gwenwindflower commented on #72
closing this issue for now in the repo migration, but since we're close to publish i want to make sure we link through to this discussion in the Docs repo https://github.com/dbt-labs/docs.getdbt.com/discussions/1158 for continuity and future ML-related follow ups to branch off this.

[2022-02-21 17:41] #72 closed

[2022-02-21 17:49] gwenwindflower commented on #28
seems like this has gone kind of stale, but really important guide for us to create. linking through to this discussion. https://github.com/dbt-labs/docs.getdbt.com/discussions/1160

[2022-02-21 17:49] #28 closed

[2022-02-21 17:50] gwenwindflower commented on #86
i think this should be tackled as a glossary entry, closing for now but feel free to open as a fresh discussion if you disagree!

[2022-02-21 17:50] #86 closed

[2022-02-21 17:51] gwenwindflower commented on #76
fantastic! @natesooter i'm closing this issue a bit early as we've consolidated our devblog system into our main documentation repo but excited to get this published asap!

[2022-02-21 17:51] #76 closed

[2022-02-21 17:52] gwenwindflower commented on #46
i think we should let this one resurface if needed, closing for now

[2022-02-21 17:52] #46 closed

[2022-02-21 17:53] gwenwindflower commented on #61
closing for now, we have a pretty good slate of stuff ported to the new repo and/or stuff in progress so dropping remaining ideas that haven't progressed

[2022-02-21 17:53] #61 closed

[2022-02-21 17:55] gwenwindflower commented on #63
@jtalmi we've consolidated our writing into the main dbt Docs repo, and are now utilizing Discussions there, this feel like a _perfect_ candidate for our first Q&A topic if you're willing to repost https://github.com/dbt-labs/docs.getdbt.com/discussions/categories/q-a -- closing for now as we're archiving this repo

[2022-02-21 17:55] #63 closed

[2022-02-21 17:56] gwenwindflower commented on #71
i do think this is related to the environments work that amy has worked on and can be followed up with as a companion to that, so going to retire this with the repo for now and we'll see how it resurfaces in relation to that guide.

[2022-02-21 17:56] #71 closed

[2022-02-21 17:56] gwenwindflower commented on #65
per amy's comment i'm closing this one and not porting it

[2022-02-21 17:56] #65 closed

[2022-02-21 17:58] gwenwindflower commented on #84
i think we have enough other ideas cooking in the new repo i'm not going to port this one

[2022-02-21 17:58] #84 closed

[2022-02-21 18:00] gwenwindflower commented on #68
i'm closing this for now and have made a note to discuss how we want to port this into the new repo

[2022-02-21 18:00] #68 closed

[2022-02-21 18:02] gwenwindflower commented on #77
closing this one for now and will discussion with DX how to port to new repo

[2022-02-21 18:02] #77 closed

[2022-02-22 00:11] gwenwindflower commented on #30
closing for now but plan to circle back to this at the right time

[2022-02-22 00:11] #30 closed

[2022-02-23 11:52] infused-kim commented on #85
Hi @gwenwindflower. I don't mean to be pushy, but I just wanted to check in and see if there is anything I can do to move this forward?

[2022-02-24 18:19] burkaygur commented on #88
Sounds great. We will check back in a month. In the meantime, we are working on the draft and will share it then.

[2022-03-01 08:26] infused-kim commented on #85
Hi @gwenwindflower  and @jasnonaz.

I just wanted to check in and see if you have made any decisions about this article.

If you have decided internally that you don't want to publish it, I would completely understand it. If you do want to publish it, but need more more time or want to change something, I am also happy to work with you on this.

I'd just like to get some clarity on where we are at

[2022-03-03 14:04] amychen1776 commented on #79
@stumelius Apologies for the delay! We are currently restructuring how we are approaching developer blog posts so let me follow up with the team and get back to you. You should see a response from me early next week.

[2022-03-05 08:09] stumelius commented on #79
Got it, no worries!

[2022-03-15 15:33] christineberger commented on #65
@dbt-labs/devhub This was closed, but there was additional conversation that happened outside of this. @amychen1776, tagging you here so we can look at this again, as I have a [more complete version of this](https://www.notion.so/dbtlabs/Redshift-Optimization-with-dbt-3a9c46a0b84c462ebc8a188c562b3499) now. We'd talked about keeping it as separate things, but would love a re-assessment from you par

[2022-03-15 15:55] krevitt commented on #65
This would be an absurdly excellent dev blog post Christine - given it's redshift-specific, feel like a blog post is the right spot for it (vs a guide, where we'd expect to have coverage of ~all warehouses).

Curious what you think @amychen1776 re how this should be published.

[2022-03-15 16:47] amychen1776 commented on #65
@krevitt @christineberger I think we should go ahead and post this as a blog post. We are currently in the works with Redshift to create a Redshift best practices whitepaper that we will likely incorporate things from this post to it. But let's keep it short and sweet and easily sharable in this format :)

[2022-04-04 14:16] jasnonaz commented on #85
Hi @infused-kim - I'm really sorry about the delay here, appreciate you bearing with us. In the interest of making it so we aren't keeping you waiting any longer, I think we are going to shelf this post as a developer blog piece right now - we think it would get confusing for folks looking to do terminal setup while we don't have any guidance out there. We really, really appreciate your contributi

[2022-04-04 14:16] #85 closed

[2022-04-04 14:31] infused-kim commented on #85
Thank you for letting me know @jasnonaz.

Is there any way you would reconsider? I think a simple solution is to simply not to use the title `How to set up your terminal` and instead use the headline I put in the article: `5 Tips To Take Your dbt Terminal Experience To The Next Level`.

With this title I don't think there will be any confusion whether this is official guidance or not.

And the con

[2022-04-04 14:39] jasnonaz commented on #85
I think not right now for the Developer Blog _but_ that's not the only way to share things with the community! We definitely want you to be able to get this information out, if you do end up publishing elsewhere definitely share on #i-made-this in the slack and that way folks will still get a chance to benefit from these tips.

[2022-04-04 15:15] infused-kim commented on #85
Ok, I understand. Thank you for considering it!